/* CSS Comment */
* {
  padding: 0;
  margin: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: solid 5px #1098ad;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  font-size: 18px;
}
.row {
  display: flex;
  gap: 75px;
  margin-bottom: 60px;
  align-items: flex-start;
}

article {
  margin-bottom: 0;
  flex: 1;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
  margin-bottom: 30px;
  flex: 0 0 300px;
}

.post-header {
  margin-bottom: 40px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related {
  list-style: none;
  margin-left: 0;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

/* li:nth-child(2) {
  color: #1098ad;
}

li:nth-child(odd) {
  color: gold;
}

li:nth-child(even) {
} */

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: #000;
  font-style: italic;
}

/* LVHA same order */

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  margin: 0 15px 0 0;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

.like-button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* p::first-line {
  color: teal;
} */

/* Adjacent sibling */
h3 + p::first-line {
  /* color: teal; */
}

h2::after {
  content: "TOP";
  color: black;
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -35px;
}

.author-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
}

.related-link:link {
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
